[Unit]
Description= RYSEN DMR Repeaters Service 
After=syslog.target network.target

[Service]
User=root
WorkingDirectory=/opt/rysen
ExecStart=/usr/bin/python3 bridge_master.py -c ./config/rysen.cfg -r ./config/rules.py

[Install]
WantedBy=multi-user.target
